<div class="add_class">
    <% if (title) { %>
      <h1><%= title %></h1>
    <% } else {
      res.redirect('/');
    } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
   </ul>
  <% } %>
  
  <%- messages() %>

<p>Confirm Deletion - The delete is permanent.</p>
<fieldset>
    <form id="delete" action="/inv/Delete" method="post">

        <label for="invMake">Make</label>
        <input type="text" readonly <% if(locals.inv_make)  {%> value="<%= locals.inv_make %>"<%} %>>
      
        <label for="invModel">Model</label>
        <input type="text" readonly <% if(locals.inv_model)  {%> value="<%= locals.inv_model %>"<%} %>>
      
        <label for="invPrice">Price</label>
        <input type="text" readonly <% if(locals.inv_price)  {%> value="<%= locals.inv_price %>"<%} %>>
      
        <label for="inYear">Year:</label>
        <input type="text" readonly <% if(locals.inv_year)  {%> value="<%= locals.inv_year %>"<%} %>>
      
        <button type="submit">Delete Vehicle</button>
        <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
      </form>
  </fieldset>
  </div>